@model TCC___Obra.Models.Obra

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Obra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeObra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeObra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusObra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusObra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtEstimada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtEstimada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespObra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespObra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoObra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoObra)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ObraId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
