@model TCC___Obra.Models.Incidente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Incidente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObraRelacionada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObraRelacionada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Impacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Impacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataIncidente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataIncidente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acompanhamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acompanhamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IncidenteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
